click==8.0.4
cobs==1.1.4
distlib==0.3.4
ecdsa==0.17.0
filelock==3.6.0
Flask==2.0.3
future==0.18.2
iso8601==1.0.0
itsdangerous==2.1.1
jenkins==1.0.2
Jinja2==3.0.3
MarkupSafe==2.1.0
platformdirs==2.5.1
pyasn1==0.4.8
pyserial==3.5
python-dotenv==0.19.2
python-jose==3.3.0
PyYAML==6.0
rsa==4.8
serial==0.0.97
six==1.16.0
virtualenv==20.13.3
Werkzeug==2.0.3
